body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 71, 70);
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: white;
}

