:root {
  --logo-color: white;
  --text-color: #f81b1b;
  --bubble-color: rgba(255, 255, 255, 0.5);
  --nav-color: rgba(0, 0, 0, 0.363);
}

html {
  margin: 0;
  padding:0;
}

body {

  margin: 0;
  padding: 0;
/*   width: auto; */
/*   background-size: 100% auto; */
/*   max-width: 320px; */
  /* 100% viewport height */
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  /*   background: linear-gradient(127deg, #017499),
  linear-gradient(336deg, #14114A) */
  /* background: linear-gradient(100deg, #72a5b3c9, #1a1658c4); */
/*   background-size: 100% 100%; */
  background-repeat: no-repeat;
  /* height: 3000px;   *//************/
  height: 100%;
/* 
  display: flex;
  justify-content: center; */
  text-align: center;
  min-width:100%;
/*   max-width: 100%;
  display: flex;
 */

}

/* main {
  margin: 0 20px; 
}
 */

.main-title {
  /* background-image: url("../img/photo-1618005198919-d3d4b5a92ead.jpeg"); */
/*   width: auto; */
  width: 100%;
  height: 500px;
/*   background-repeat: no-repeat;
  background-size: cover; */

}
.main-title h1 {
  font-size: 3rem;
  /* color: white; */
  padding: 1rem;
  margin-top: 20rem;
  font-family: "Black Han Sans",
  sans-serif;
  font-weight: 400;
  font-style: normal;
  
  background: linear-gradient(to right, #ff4444, #c3ff7f, #44a5ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 3px -3px 3px rgba(204, 202, 202, 0.4);

  transition: all 0.5s ease;
}

.main-title h1:hover {
    text-shadow: 0 0 1px #fff,
    0 0 5px #fff,
    0 0 50px rgb(0, 255, 170)
}



/* #main-title {
  width: 100%;
  height: auto;
  background-color: #2731339a;
  margin: 300px 0;
} */

/* #motto {
  width: 400px;
  height: 300px;
  background-color: #2731339a;
  margin: 100px auto; 
} */

a {
  text-decoration: none;
  color: var(--logo-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(71, 71, 70, 0.479);
  padding: 8px 12px;
  /* justify-content: center;
  align-items: center; */
}

.navbar_logo {
  font-size: 24px;
  margin-left: 4%;

  font-family: "Nanum Brush Script",
  cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.navbar_logo i {
  color: rgb(255, 255, 255, 0.3);

}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 32px;

  font-family: "Kanit",
  sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar_menu li:hover {
  background-color: var(--nav-color);
  border-radius: 3px;
}

/* #menuicon {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: brown;
} */

/* input[id="menuicon"]+label {
  display: block;
  width: 36px;
  height: 26px;
  cursor: pointer;
} */
input[id="menuicon"] {
  display: none;
}

input[id="menuicon"]+label {
  display: none;
  width: 36px;
  height: 26px;
  /* position: relative; */
  position: fixed;
  right: 3%;
  /* top: 5%; */
  transition: all .35s;
  cursor: pointer;
  
}

input[id="menuicon"]+label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  /**/
  border-radius: 2px;
  background: #ffffffa9;
  transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
  /* margin-top: 2rem; */
  top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
  bottom: 0;
}

/* 클릭 시 메뉴아이콘의 모양 바뀌게 */
input[id="menuicon"]:checked+label {
  z-index: 2;
  /* right: 300px; */
}

input[id="menuicon"]:checked+label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
  opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
  width: 300px;
  /**/
  height: 100%;
  background: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  right: -300px;
  /**/
  z-index: 1;
  /**/
  transition: all .35s;
}

input[id="menuicon"]:checked+label+div {
  right: 0;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
/* 
  .navbar_logo {
    font-size: 2rem;
  } */
  .navbar_logo {
    font-weight: 300;
    font-size: 2rem;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  /* 
  #menuicon {
    display: block;
  } */
  input[id="menuicon"]+label {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
  }
  /* //////////////////////////// */

  #about-me-1 {
    display: flex;
    flex-wrap: wrap;
  }

  #about-me-1>div {
    margin: 0.5rem;
    padding: 0.5rem;
/*     width: 500px; */
  }

  /* //////////////////////// */

  #archiving-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #archiving-1>div {
/* 
    padding: 20px; */
    /* width: 500px; */
    width: 80%;
    height: auto;
  }

/*   #skills-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #skills-1 > div {
    margin: 20px;
    padding: 20px;
    width: 80%;
    display: block;
  } */

  /* //////////////////////////// */

  #tabs {
    flex-direction: column;
    width: 80%;
  }

  .skillsBg-0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
  .skillsBg-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
/*     width: 100%; */

  }
/*   #tabs {
    width: 500px;
  } */

  /* ///////////////////////////////// */


}

/* ///////////////////////////////////////////// */

main {
  margin-top: 10vw;
  /* width: 500px;   */
}
/* .rectangle-1 {
  background-color:#d6d6d6;
  border-radius:14px;
  width:264px;
  height:179px;

} */

header {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 100px;
  z-index: 1000;
  /* 헤더가 가장 최상위로 보이게*/
}

.nav-up {
  top: -80px;

}

/* ///////////////////////////////////////////////// */
/* .ellipse-1 {
  position: relative;
  margin-left: 5vw;
  width: auto;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.rectangle-1 {
  width: 500px;
  height: 100px;
  background-color: wheat;
  position: absolute; 
  left: 100px;
  margin-top: 30px;
  border-radius: 5px;
} */

/* #Archiving a {
  text-decoration: none;
  color: #ffffff;
  font-size: 50px;
} */



footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* ul 요소를 flex container로 설정 */
}

footer {
  background-color: rgb(56, 61, 90);
  position: relative;
  transform: translateY(100%);
  padding: 2rem 0;
}
footer div {
  display: flex;
  /* div 요소를 flex container로 설정 */
  justify-content: center;
  /* div 내부의 요소들을 가운데 정렬 */
  align-items: center;
  /* div 내부의 요소들을 수직 가운데 정렬 */
/*   font-family: "Kanit",
  sans-serif; */
  color: white;
}
footer div ul {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem; /* 요소들 사이의 옆 간격 설정 */

}


footer ul li {
  text-align: center;
}


/* ////////////////////// */
#AboutMe,
#Skills,
#Archiving,
#Projects,
#Intro {
  margin: 30px 20px;
  padding: 50px 0;
  border-radius: 17px;
  box-shadow: 5px 5px 10px #00000071;
}

#AboutMe {
  background-color: rgba(255, 0, 0, 0.1);
}

#Skills {
  background-color: rgba(255, 166, 0, 0.1);
}

#Archiving {
  background-color: rgba(255, 255, 0, 0.1);
}

#Projects {
  background-color: rgba(0, 128, 0, 0.1);
} 

#Intro {
  background-color: rgba(0, 0, 255, 0.1);
}


/* /////////////////////////////// */
#Record {
  font-size: 20px;
}
#Record img {
  font-size: 10px;
  height: 24px;
  width: auto;
}
/* ////////////// */


h2 {
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.747);
  text-shadow: 2px 2px 2px #ffffff65;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

h2 {
  display: inline-block;
  margin: 0;
}

h2:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffffff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h2:hover:after {
  transform: scaleX(1);
}

h2.fromRight:after {
  transform-origin: 100% 50%;
}

h2.fromLeft:after {
  transform-origin: 0% 50%;
}


#about-me-1 img {
  /* float:left; */
  /* align-items: center; */
  width: 300px;
}





/* 
* {
  box-sizing: border-box;
} */


header img {
  width: 3rem;
  object-fit: contain;
}

#tabs {
  color: #bdd1d4;
  min-width: 250px;
  max-width: 500px;
  margin: 2rem auto; /*가운데 정렬 위해 auto */
  overflow: hidden;
  /* float: right; */
  padding-right: 30px;
  
}

#tabs menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.25rem;
}

#tabs button {
  font: inherit;
  font-size: 0.85rem;
  /* background-color: #282f33; */
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom-color: rgb(255, 255, 255);
  color: #e0eff1;
  border-radius: 4px 4px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;

  
}

#tabs button:hover,
#tabs button.active {
  background-color: rgba(70, 0, 0, 0.9);
  /* color: #273133; */
  color: white;
  /* color: rgba(0, 0, 0, 0.5); */
}

.tab-content {
  /* background-color: #2d3942; */
  color: white;
/*   background-color: rgba(255, 255, 255, 0.7); */
  box-shadow: 2px 2px 20px 2px inset #ffffff52;
    transition: box-shadow 0.5s;
  border-radius: 0 10px 10px 10px;
  padding: 1rem;
  height: 20rem;
  text-align: left; /* 안의 내용 왼쪽 정렬로 */
  font-family: "Hahmlet",
  serif;
  font-optical-sizing: auto;
  


}
.tab-content:hover {
  box-shadow: 2px 2px 30px 2px inset #ffffff9d;
}

.tab-content li {
  margin: 0.75rem 0;
}

/* /////////////////////////////////////////////////// */
#about-me-1 {
  display: flex;
  /* 요소들을 수평으로 배치하기 위해 flex를 사용합니다. */
  justify-content: center;
  /* 요소들을 수평 가운데로 정렬합니다. */
  align-items: center;
  /* 요소들을 수직 가운데로 정렬합니다. */
}

#about-me-1>* {
  margin: 0 5px;
  /* 요소들 간의 간격을 조정합니다. */
} 
/* ///화면 크기 줄어들면 밑으로 떨어지고, 가운데로 정렬이 되어야함..,그거구현 필요/// */






#tabs {
  flex: 1; /* 남은 공간을 모두 차지하도록 설정합니다. */
/*   margin: auto; */
/*   max-width: 5rem; */
}

/* ////////////////////////////// */
/* img {
  opacity: 0;
} */
.hideme {
  opacity: 0;
}

/* /////////////////////////// */


.side3 {
  position: relative;
  overflow: hidden;
/*   background: #000; */
  height: 20rem;
}

.side3 figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  opacity: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
  transform: translate(350%, -50%) rotate(180deg);
}

.side3 figcaption:after {
  content: '';
  width: 100px;
  height: 100px;
  background: #00000056;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.side3 figcaption h3 {
  font-size: 1.5rem;
}

.side3 figcaption em {
  display: block;
  font-weight: bold;
}

.side3 img {
  display: block;
  transition: all 0.3s ease;
}
.side3 figure {
  margin: 0; 
}
.side3 img {
  max-width: 100%; /* 이미지가 부모 요소에 맞춰질 수 있도록 최대 너비 설정 */
  max-height: 100%; /* 이미지가 부모 요소에 맞춰질 수 있도록 최대 높이 설정 */
}


.side3:hover img {
  filter: blur(2px);
}

.side3:hover figcaption {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}


/* ///////////////////////////////////////////////// */


#archiving-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
#skills-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
 */

/* 
#archiving-1>* {
  margin: 0 10px;
}
#github-1 {
  width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;

}

#github-1 img {
  width: 100px;
  
}

#tistory-1 {
  width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;

}

#tistory-1 img {
  width: 270px;

} */

/* section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 */

.github-1,
.tistory-1 {
  /* width: calc(300px - 10px); */
/*   width: 400px;
  height: 450px; */
/*   min-width: 320px - 80px; */
  /* background-color: rgba(255, 255, 255, 0.7); */
  margin: 0.5rem;
  padding: 1rem;
  align-items: center;
  height: auto;
  min-width: 100px;
}

.github-1 img,
.tistory-1 img {
  height: 5vw;
  padding: 0.5rem;
  margin-top: 1rem;
}

#archiving-1 {
  padding: 0.5rem;
}

#archiving-1 ul {
  font-size: 1rem;
  text-align: left;
}

#archiving-1 p {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#archiving-1 a {
  margin: 0;
  color: blue;

  &:hover {
    text-decoration: underline;
  }
}

#archiving-1 ul li {
  margin: 1rem 0;
}
/* #github ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#github ul li {
  text-align: left;
} */


/* /////////////////////////// */

/* h3 svg {
  width: 20px;
}

h3 a:hover {
  text-decoration: underline;
  color: black;
}
 */



#SendMail svg {
  width: 20px;
}

#SendMail p {
  margin-top: 5rem;
  color: white;
  font-weight: bold;

}

#SendMail a:hover {
  text-decoration: underline;
}

/*  */
#Skills {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skills h3 {
  margin-top: 2rem;
  font-size: 1.5rem;

}

.skillsBg-0 {
  width: 80%;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  /* max-width: 2000px; */
}
.skillsBg-1 {
  width: 40%;
  margin: 0.5rem;
  padding: 1rem 0rem;
  /* max-width: 1000px; */
}
@media screen and (max-width: 768px) {
  .skillsBg-1 {
    width: 80%;
    padding: 1rem 0.5rem;

    /* 화면이 768px 이하일 때, 각 섹션의 너비를 조정 */
  }
}

/* ///////////////////////////////// */

#FirstItem {
  font-size: 1.1rem;
}

@media screen and (max-width: 380px) {
  .tab-content {
    height: auto;
  }

}

/* /////////////////////////////////// */

#Skills div {
/*   width: auto;
  height: auto; */
/*   margin: 1rem;
  padding: 1rem; */
}

/* #Skills article {
  display: flex;
  flex-wrap: wrap;
} */
/* 
#Skills {
  margin: 0 20px;
  padding: 50px 0;
} */

/* 제목 위의 가운데 */
#Skills {
  /* display: flex; */
  display: block;
/*   flex-wrap: wrap;
  align-items: center; */
}

#Skills h2 {
/*   display: block; */
/*   margin-bottom: 1rem;
  text-align: center; */
}
/*  */


#skills-1 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
  /* 요소들이 가로로 배치되고, 화면을 벗어나면 자동으로 다음 줄로 이동 */
}

/* #SkillsContent {
  width: 100%;
} */


/* #skills-1 article {
  width: calc(50% - 20px);
} */

/* @media screen and (max-width: 768px) {
  #skills-1 article {
    width: 90%;
  }
} */

/* @media screen and (min-width: 1100px) and (max-width: 1150px){
  #skills-1 {
    margin: 0 5rem;
  }

}
 */
/* @media screen and (min-width: 1288px) and (max-width: 1703px){
  .skillsBg-0 {
    margin: calc(0.5vw);
    margin: 0.5rem; 
    width: 400px;
  }
  #skills-1 {
    margin: 0 13rem;
  }

} */


@media screen and (max-width: 768px) {

  .github-1 img,
  .tistory-1 img {
    height: 12vw;
  }
}

/*  */
.bubble {
  background-color: var(--bubble-color);
  transition: transform 0.3s ease;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #25252573;

  font-family: "Hahmlet",
  serif;
}

.bubble:hover {
  transform: scale(1.02);
}

/*  */

.pj1 img,
.pj2 img,
.pj3 img {
  width: 40rem;
/*   float: left; */
  margin-right: 20px;
  margin: 1rem;
  border-radius: 5px;
}

.pj1, .pj2 , .pj3 {
  padding: 1rem;
  margin: 2rem 15rem;

}

.description {
  width: auto;
  padding: 0 5rem;
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
}

.description p {
  text-align: left;
}

#projects-1 h3 {
  font-size: 1.7rem;
}

#projects-1 a{
  color: blue;
}

#projects-1 a:hover {
  text-decoration: underline;
}

/* #projects-1 section div {
  padding-left: 5rem;
  text-align: left;
} */
.subsection {
  width: auto;
  font-size: 1.2rem;
  overflow: auto;
  margin-left: 2rem;
  padding: 2rem;
  text-align: left;

}
/* .subsection ul li {
  display: flex;
  color: rgb(0, 26, 139);
}

.subsection ul {
  margin: auto;
} */

.subsection dl {
  display: block;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1rem; */
}

.subsection dt {
  float: left; /*한줄로출력*/
  margin-right: 1rem;
}

.subsection dd {
  display: block;
  margin-inline-start: 7em;
}

.subsection dd a {
  display: block; /* <a> 태그를 블록 요소로 변경하여 줄 바꿈 가능하도록 설정 */
  word-wrap: break-word; /* 텍스트의 자동 줄 바꿈 활성화 */
}

@media (max-width: 1365px) {
  .pj1,
  .pj2,
  .pj3 {
  margin: 2rem 5rem;
}
.subsection {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
}

@media (max-width: 900px) {
  .pj1 img,
  .pj2 img,
  .pj3 img {
    width: 90%;
  }
  .description {
    padding: 0 2rem;
  }
  .subsection {
    font-size: 1rem;
    padding: 1rem 0;
  }
/*   .subsection ul {
    padding: 0;
  } */

} 
@media (max-width: 800px) {

    .subsection ul {
    padding: 0rem;
  }
}

@media (max-width: 600px) {
  .pj1, .pj2, .pj3 {
  margin: 2rem 1rem;
  }
  .subsection {
    font-size: 0.9rem;
  }
  .description {
    font-size: 1rem;
  }

  #projects-1 h3 {
  font-size: 1.2rem;
  }

/* .subsection {
  margin: 0;
} */
}

@media (max-width: 400px) {
  .subsection {
    font-size: 0.8rem;
  }

  .subsection ul {
    padding: 0rem;
  }
  
  .description {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}



/* 
.pj-img:hover {
  opacity: .8;
}

.image-container {
  position: relative; 
}
.pj-img {
  position: relative;
}

.hover-text-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-weight: bold;
  transition: visibility 0s, opacity 0.5s linear; 
  color: rgb(241, 255, 228);
  text-shadow: 1px 1px 1px rgb(77, 77, 77);
}

.hover-text-caption::before {
  content: '자세히 보려면 이미지를 클릭하세요';
}

.image-container:hover .hover-text-caption::before {
  content: '자세히 보기';
}
 */


/* 
.github-1,
.tistory-1 {
  min-width: 40%;
} */
/* 미디어 쿼리: 화면 너비가 1440px 이상일 때 */
@media (min-width: 1700px) {
/* .content-wrapper 클래스를 가진 요소 내부의 자식 요소들을 가로로 정렬 */
.content-wrapper {
  display: flex; /* 요소들을 가로로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  max-width: 2000px; /* 2000px 이하에서 최대 너비 설정 */
  margin: 0px auto; /* 가운데 정렬을 위한 자동 마진 설정 (밑 여백 포함) */
  padding: 50px 40px;
}

.subsection {
  padding-top: 0;
}

/* .image-container 클래스에 스타일 적용 */
.content-wrapper .image-container {
  flex: 1; /* 공간을 나누어 차지하도록 설정 */
}

/* .description 클래스에 스타일 적용 */
.content-wrapper .description {
  flex: 1; /* 공간을 나누어 차지하도록 설정 */
}

.description {
  padding: 0 30px;
}
/* .description p {
  width: 400px;
} */

  .github-1,
  .tistory-1 {
    /* padding: 0 10rem; */
    width: 40%;
    max-width: 944px; /* 1008- 16*4*/
  }

}

@media (min-width: 2000px) {
  .content-wrapper {
    padding: 0px 150px;
  }
}

@media (max-width: 1440px) {

}
